/* Tabs.css */

.service {
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 1rem;
    border-radius: 10px;
  }
  
  .tab {
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
  }
  
  .tab.active {
    font-weight: bold;
  }
  
  .underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #00ff99;
    width: 100%;
  }
  