

.travel-section {
    position: relative;
    height: 90vh; 
    width: 80%;
    background-image: url('./lake1.png');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    color: white;
    text-align: center;
  }
  
  .overlapping {
    background-color: rgba(0, 0, 0, 0.1); 
    padding: 2rem;
    height: 100%;
    border-radius: 15px;
    width: 100%;
  }
  
  .title {
    font-size: 6rem; 
    font-weight: bold;
    margin: 0;
  }
  
  .subtitle {
    font-size: 2rem;
    margin-top: 1rem;
    line-height: 1.5;
  }
  .bg{
    background-color: #111;

  }
  